; === Configuration file for UCGO cargo ===
ucForceName	= HotMODUL				; Force object name when cargo is released max 6 char.
Module 		= UCGODynamicCargo			; if this cargo can be unpacked by UMMU
Mass 		= 3300					; mass of content in kg
MeshName 	= UniversalCars/Apple	; Box mesh name (packed cargo)
UcUnpackedMesh	= UniversalCars/UCGOCargInflatHotel	; name of mesh once cargo unpacked by UMMU.
UcDescription 	= Inflatable Space Hotel module		; description or keyword if ressource (see below)

UMMuBreathableBase	= 1				; 1 if it's a UMMU base (can breath into it)
UMMuBaseRadius		= 6.30				; breathable radius in meter from center of mesh

ImageBmp = Images\UniversalCars\crgHotel.bmp ;image for scenery editor

; === NOTE ON UCGO Cargos ===
; UCGO Cargos require only mesh and a config file, anyone can do more
; see doc in Doc\UniversalCars for a step by step help.

; === MANDATORY NO NEED TO EDIT THIS BELOW ===
Size = 20.0	; size is 1.3 meter but this is to avoid LOD uggly switch
AlbedoRGB = 0.6 0.6 0.6
TouchdownPoints = 0.0 -0.005 3.0 -4.0 -0.005 -3.00 4.0 -0.005 -3.00
EditorCreate=true
EnableFocus = false

; === Attachment specs ===
BEGIN_ATTACHMENT
P 0.0 0.6 -0.27  0 0 -1  0 1 0  UCGOCG
END_ATTACHMENT
